name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    type_check:
        name: Type Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: |
                  npm install
                  npm run build

    verify_files:
        name: Verify Files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: |
                  npm install
                  npm run build

            - name: Lint Files
              run: npm run lint

            - name: Check Formatting
              run: npm run fmt:check

    build:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [windows-latest, macOS-latest, ubuntu-latest]
                node-version: [18.x, 20.x, 22.x, 23.x]

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            - name: npm install and test
              run: |
                  npm install
                  npm run build
                  npm test
              env:
                  CI: true

    jsr_test:
        name: Verify JSR Publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Run --dry-run
              run: |
                  npm run build
                  npm run test:jsr
