name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    verify_files:
        name: Verify Files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Lint Files
              run: npm run lint

            - name: Lint Files, Dependencies, & Exports
              run: npm run lint:unused

            - name: Check Formatting
              run: npm run fmt:check

    build:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [windows-latest, macOS-latest, ubuntu-latest]
                node-version: [25.x, 24.x, 22.x, 20.x, "20.19.0"]

        steps:
            - uses: actions/checkout@v6

            - name: Set up Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}

            - name: npm install and test
              run: |
                  npm install
                  npm run test:unit
              env:
                  CI: true

    test_types:
        name: Test Types (TypeScript ${{ matrix.typescript }})
        runs-on: ubuntu-latest

        strategy:
            matrix:
                typescript: ["5.x", "5.3.2"]

        steps:
            - uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Install TypeScript ${{ matrix.typescript }}
              run: npm install --ignore-scripts --no-save typescript@${{ matrix.typescript }}

            - name: Run TypeScript Compiler (TypeScript ${{ matrix.typescript }})
              run: npx tsc

            - name: Test types (config-array, TypeScript ${{ matrix.typescript }})
              run: npm run test:types -w packages/config-array

            - name: Test types (config-helpers, TypeScript ${{ matrix.typescript }})
              run: npm run test:types -w packages/config-helpers

            - name: Test types (core, TypeScript ${{ matrix.typescript }})
              run: npm run test:types -w packages/core

            - name: Test types (object-schema, TypeScript ${{ matrix.typescript }})
              run: npm run test:types -w packages/object-schema

            - name: Test types (plugin-kit, TypeScript ${{ matrix.typescript }})
              run: npm run test:types -w packages/plugin-kit

    are-the-types-wrong:
        name: Are the types wrong?
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Check validity of type definitions
              run: npm run lint:types

    jsr_test:
        name: Verify JSR Publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Run --dry-run
              run: npm run test:jsr

    pnpm_test:
        name: Test pnpm Type Support
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
              with:
                  version: latest

            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install Packages
              run: npm install

            - name: Run pnpm test
              run: npm run test:pnpm --ws --if-present
